<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
            <ui:include src="Link.xhtml" />
    </h:head>
    <h:body>
        <!-- Left Panel -->
    <ui:include src="Nav_Admin.xhtml" />
  <!-- /#left-panel -->

    <!-- Left Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        
                       

                        <div class="dropdown for-notification">
                           <strong class="card-title">Administrateur De l'Application</strong>
                        </div>

                        <div class="dropdown for-message">
                         
                           <strong class="card-title"> </strong>
                        </div>
                    </div>
                </div>

              
            </div>

        </header><!-- /header -->

            <div class="card" >
                <div class="card-header">
                    <strong class="card-title">Bienvenu</strong>
                </div>
                <div class="card-body">
 
                   
<body>
   
       
            <div class="header-menu">


      

        <div class="breadcrumbs" >
            <div class="col-sm-4" >
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            

                </div></div>
                </body>
            </div><!-- .animated -->
           
        </div><!-- .content -->
        <h:form>
         <div class="col-lg-6" >
         <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="bootstrap-data-table-export"></label>
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Stripped Table</strong>
                            </div>
                            
                            <div class="card-body">
                           <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <h:dataTable class="table table-striped" value="#{evaluationsheetBean.employes}" var="employe">
                                                             <h:column>
					<f:facet name="header">
						<h:outputText value="id" />
					</f:facet>
					<h:outputText value="#{employe.id}" />
				</h:column>
				<h:column>
					<f:facet name="Prenom">
<h:outputText value="Score" />
					</f:facet>
					<h:outputText value="#{employe.prenom}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="nom" />
					</f:facet>
					<h:outputText value="#{employe.nom}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Action" />
					</f:facet>
					
						<h:commandButton class="btn btn-outline-primary" action="#{criteriaBean.addForm}"
						value="evaluer" />
				</h:column>
                                                                   
                                                                   
                                                                   </h:dataTable></table>
                            </div>
                           
                        </div>
                       


                        
                    </div>
</h:form>

    </div><!-- /#right-panel -->

    <!-- Right Panel -->


    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>



        <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    
    <script src="vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="vendors/jszip/dist/jszip.min.js"></script>
    <script src="vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="assets/js/init-scripts/data-table/datatables-init.js"></script>
    </h:body>
</html>