<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
            <ui:include src="Link.xhtml" />
    </h:head>
    <h:body>
        <!-- Left Panel -->
    <ui:include src="Nav_Admin.xhtml" />
  <!-- /#left-panel -->

    <!-- Left Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        
                       

                        <div class="dropdown for-notification">
                           <strong class="card-title">trainner</strong>
                        </div>

                        <div class="dropdown for-message">
                         
                           <strong class="card-title"> </strong>
                        </div>
                    </div>
                </div>

              
            </div>

        </header><!-- /header -->

            <div class="card">
                <div class="card-header">
                    <strong class="card-title">welcom</strong>
                </div>
                <div class="card-body">
 
                 <div align="center">
			<h:dataTable value="#{formateurBeans.getAllFormateur()}" var="formateur"
				border="1">
				<h:column>
					<f:facet name="header">
						<h:outputText value="name" />
					</f:facet>
					<h:outputText value="#{formateur.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Domain" />
					</f:facet>
					<h:outputText value="#{formateur.specialite}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Telephone-Number" />
					</f:facet>
					<h:outputText value="#{formateur.number}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Availability" />
					</f:facet>
					<h:outputText value="#{formateur.disponibilite}" />
				</h:column>
					<h:column>
					<f:facet name="header">
						<h:outputText value="" />
					</f:facet>
					<h:form>
						<h:commandButton action="#{formateurBeans.removeFormateur(formateur)}" value="Delete"  />
						
					</h:form>
					<h:form>
						<h:commandButton action="#{formateurBeans.recupererFormateur(e)}" value="update"  />

					</h:form>
				</h:column>
			</h:dataTable>
		</div> 
		
		
		
			<h:form>
				<h:panelGrid columns="2">
				<h:outputLabel value="Name:" />
					<h:inputText value="#{formateurBeans.name}" />
					
					<h:outputLabel value="Specialite: " />
					<h:inputText value="#{formateurBeans.specialite}" />
					
					<h:outputLabel value="Number: " />
					<h:inputText value="#{formateurBeans.number}" />
					
						<h:outputLabel value="disponibilite" />
				<h:selectBooleanCheckbox value="#{formateurBeans.disponibilite}" />
					
					<h:commandButton value="ADD" action="#{formateurBeans.addFormateur()}"/>
							<h:commandButton value="Update" action="#{formateurBeans.updateFormateur()}" />
				</h:panelGrid>
			</h:form>

		
		 

                </div><!-- .animated -->
            </div><!-- .content -->
        </div>
 
   
        <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    </h:body>
</html>