<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Facelet Title</title>
	<ui:include src="Link.xhtml" />
</h:head>
<h:body>
	<!-- Left Panel -->
	<ui:include src="Nav_Admin.xhtml" />
	<!-- /#left-panel -->

	<!-- Left Panel -->
	<div id="right-panel" class="right-panel">

		<!-- Header-->
		<header id="header" class="header">

		<div class="header-menu">

			<div class="col-sm-7">
				<a id="menuToggle" class="menutoggle pull-left"><i
					class="fa fa fa-tasks"></i></a>
				<div class="header-left">



					<div class="dropdown for-notification">
						<strong class="card-title">Administrateur De
							l'Application</strong>
					</div>

					<div class="dropdown for-message">

						<strong class="card-title"> </strong>
					</div>
				</div>
			</div>


		</div>

		</header>
		<!-- /header -->

		<div class="card">
			<div class="card-header">
				<strong class="card-title">Bienvenu</strong>
			</div>
			<div class="card-body">




				<div class="card col-md-4">

					<div class="card-header">
						<strong>Add</strong><small> Criteria</small>
					</div>

					<div class="card-body card-block">
						<h:form>
							<div class="form-group">
								<label class=" form-control-label">Date input</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<h:inputText type="text" class="form-control datepicker"
										value="#{criteriaBean.date}">
										<f:convertDateTime pattern="dd-MM-yyyy" id="d" />
									</h:inputText>
								</div>
								<small class="form-text text-muted">ex.99-99-9999</small>
							</div>
							<h:dataTable id="datatables"
								class="table table-striped table-no-bordered table-hover"
								var="criteria">

							</h:dataTable>
							<h:inputText value="#{criteriaBean.description}"></h:inputText>
							<h:commandButton class="btn btn-danger btn-sm"
								action="#{criteriaBean.addECriterien}" value="Add" />
						</h:form>

					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header">
						<strong class="card-title">List of Criterias</strong>
					</div>
					<h:form>
						<div class="card-body">
							<h:dataTable class="table table-striped"
								value="#{criteriaBean.criterias}" var="criteria">

								<h:column>
									<f:facet name="header">
										<h:outputText value="Criteria" />
									</f:facet>
									<h:outputText value="#{criteria.description}" />
								</h:column>
								<h:column>
									<f:facet name="header">
										<h:outputText value="Action" />
									</f:facet>
									<h:commandButton class="btn btn-danger"
										action="#{criteriaBean.RemoveCriterien(criteria.id)}"
										value="Supprimer" />



								</h:column>



							</h:dataTable>
						</div>


					</h:form>
				</div>







				<div class="card">

					<div class="card-header">
						<strong class="card-title">Standard Select</strong>
					</div>
					<h:form>
						<div class="col-lg-5 col-md-6 col-sm-3">
							<h:selectOneMenu value="#{criteriaBean.typeevaluation}"
								class="selectpicker evaltype">
								<f:selectItem itemLabel="Choose" itemValue="" />
								<f:selectItems value="#{data.type}" />
							</h:selectOneMenu>
						</div>
						<h:commandButton class="btn btn-info btn-sm"
							action="#{criteriaBean.addEv()}" value="Create" />
					</h:form>
				</div>
			</div>
		</div>
	</div>
</h:body>
</html>


<!-- .animated -->

<!-- .content -->



