<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
            <ui:include src="Link.xhtml" />
    </h:head>
    <h:body>
        <!-- Left Panel -->
    <ui:include src="Nav_Admin.xhtml" />
  <!-- /#left-panel -->

    <!-- Left Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        
                       

                        <div class="dropdown for-notification">
                           <strong class="card-title">Administrateur De l'Application</strong>
                        </div>

                        <div class="dropdown for-message">
                         
                           <strong class="card-title"> </strong>
                        </div>
                    </div>
                </div>

              
            </div>

        </header><!-- /header -->

            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Bienvenu</strong>
                </div>
                <div class="card-body">
 
                 <div align="center">
				<h:dataTable value="#{formationBeans.getAllFormation()}" var="formation"
				border="1">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Description" />
					</f:facet>
					<h:outputText value="#{formation.description}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Duration" />
					</f:facet>
					<h:outputText value="#{formation.duration}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Required" />
					</f:facet>
					<h:outputText value="#{formation.nbPlaceDispo}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:outputText value="#{formation.nomFormation}" />
				</h:column>
				
			
				<h:column>
					<f:facet name="header">
						<h:outputText value="" />
					</f:facet>
					<h:form>
						<h:commandButton action="#{formationBeans.removeFormation(formation)}" value="Delete"  />
						<h:commandButton action="#{formationBeans.editFormation(formation)}" value="Update" />
							

					</h:form>
				</h:column>
			</h:dataTable>
		</div> 
		
		
		
			<h:form>
				<h:panelGrid columns="2">
				<h:outputLabel value="Description: " />
					<h:inputText value="#{formationBeans.description}" />
					
					<h:outputLabel value="duration: " />
					<h:inputText value="#{formationBeans.duration}" />
					
					<h:outputLabel value="Places: " />
					<h:inputText value="#{formationBeans.nbPlaceDispo}" />
					<h:outputLabel value="Name: " />
					<h:inputText value="#{formationBeans.nomFormation}" />
					<h:commandButton value="ADD" action="#{formationBeans.addFormation()}"/>
		<h:commandButton value="Update" action="#{formateurBeans.updateFormateur()}" />
		
	</h:panelGrid>
			</h:form>

		
		 

                </div><!-- .animated -->
            </div><!-- .content -->
        </div>
        <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    </h:body>
</html>