<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
            <ui:include src="Link.xhtml" />
    </h:head>
    <h:body>
        <!-- Left Panel -->
    <ui:include src="Nav_Admin.xhtml" />
  <!-- /#left-panel -->

    <!-- Left Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        
                       

                        <div class="dropdown for-notification">
                           <strong class="card-title">Administrateur De l'Application</strong>
                        </div>

                        <div class="dropdown for-message">
                         
                           <strong class="card-title"> </strong>
                        </div>
                    </div>
                </div>

              
            </div>

        </header><!-- /header -->

            <div class="card">
                <div class="card-header">
                    <strong class="card-title">List of Posts</strong>
                </div>
                <div class="card-body">
              
 <h:form id="frmAjout">

                      		 <h:outputLabel value="Designation"/>
                            <h:inputText  value="#{posteBean.description}" /><Br></Br><Br></Br>
                            <h:outputLabel value="Salary"/>
                            <h:inputText  value="#{posteBean.salaire}" /><Br></Br><Br></Br>
                         
                               
 							<h:commandButton  value="ADD" action ="#{posteBean.addPoste()}"/>
                      <Br></Br><Br></Br>
<p:dataTable value="#{posteBean.postes}" var="compet" border="1" >

	<f:facet name="header"><h:outputText value="" style="display: none;" /></f:facet>
	<h:outputText value="#{compet.id}" style="display: none;"/>
	<p:column filterBy="#{compet.description}" filterMatchMode="contains"><f:facet name="header"><h:outputText value="Description"  /></f:facet>
	<h:outputText value="#{compet.description}" /></p:column>
	<p:column filterBy="#{compet.salaire}" filterMatchMode="contains"><f:facet name="header"><h:outputText value="salary"  /></f:facet>
	<h:outputText value="#{compet.salaire}" /></p:column>
	
	<p:column>
	<f:facet name="header"><h:outputText value="Action" /></f:facet>
	<p:commandButton action="#{posteBean.delPoste(compet.id)}" value="Delete"  update ="frmAjout"/> 
	<p:commandButton action="#{posteBean.setSelectedPoste(compet)}" value="Update"  update="frmAjout" oncomplete="PF('bd2').show();"/><br></br>
	<p:commandButton action="PosteMatrice" actionListener="#{posteBean.setSelectedPoste(compet)}" value="Show Skills"  update="frmAjout" />
	</p:column>
</p:dataTable>
<Br></Br><Br></Br>
<p:dialog header="Affecter competence" widgetVar="bd2">
                            <h:panelGrid id="panelModifier" columns="2">
                            
  							<h:outputLabel value="Designation"/>
                            <h:inputText  value="#{posteBean.selectedPoste.description}" />
                    
                            <h:outputLabel value="salaire"/>
                            <h:inputText  value="#{posteBean.selectedPoste.salaire}" />
                            
 							<h:commandButton  value="Update" action ="#{posteBean.updatePoste()}"/>
                      
      						 </h:panelGrid>
                        </p:dialog>
                        

                    
                    </h:form>
    
                   

                </div><!-- .animated -->
            </div><!-- .content -->
        </div>
        <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    </h:body>
</html>

