<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
            <ui:include src="Link.xhtml" />
    </h:head>
    <h:body>
        <!-- Left Panel -->
    <ui:include src="Nav_Admin.xhtml" />
  <!-- /#left-panel -->

    <!-- Left Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        
                       

                        <div class="dropdown for-notification">
                           <strong class="card-title">Administrateur De l'Application</strong>
                        </div>

                        <div class="dropdown for-message">
                         
                           <strong class="card-title"> </strong>
                        </div>
                    </div>
                </div>

              
            </div>

        </header><!-- /header -->

            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Liste Des Utilisateurs</strong>
                </div>
                <div class="card-body">
              
 <h:form id="frmAjout">
                       <h:outputLabel value="Designation"/>
                            <h:inputText  value="#{competenceBean.description}" /><Br></Br><Br></Br>
                             <h:outputText value="Type"/>
                         
                               <h:selectOneMenu value="#{competenceBean.typeCompetence}">
								<f:selectItem itemLabel="Choisir Type Competence" itemValue=""/>
								<f:selectItems value="#{data.type}" />
								</h:selectOneMenu>
 							<h:commandButton  value="Save" action ="#{competenceBean.addCompet()}"/>
                      <Br></Br><Br></Br>
<p:dataTable value="#{competenceBean.competences}" var="compet" border="1">




<p:column><f:facet name="header"><h:outputText value="" style="display: none;" /></f:facet>
<h:outputText value="#{compet.id}" style="display: none;"/></p:column>
<p:column filterBy="#{compet.description}" filterMatchMode="contains"><f:facet name="header"><h:outputText value="Description"  /></f:facet>
<h:outputText value="#{compet.description}" /></p:column>
<p:column filterBy="#{compet.typeCompetence}" filterMatchMode="contains"><f:facet name="header"><h:outputText value="Skill Type"  /></f:facet>
<h:outputText value="#{compet.typeCompetence}" /></p:column>

<p:column>
<f:facet name="header"><h:outputText value="Action" /></f:facet>
<p:commandButton action="#{competenceBean.delCompetes(compet.id)}" value="Delete"  update ="frmAjout"/> 
<p:commandButton action="#{competenceBean.setSelectedCompetence(compet)}" value="Update"  update="frmAjout" oncomplete="PF('bd1').show();"/>

</p:column>
</p:dataTable>
<Br></Br><Br></Br>
 

<p:dialog header="Affecter competence" widgetVar="bd1">
                            <h:panelGrid id="panel" columns="2">
                           <h:outputLabel value="Designation"/>
                            <h:inputText  value="#{competenceBean.selectedCompetence.description}" />
                             <h:outputText value="Type"/>
                         
                               <h:selectOneMenu value="#{competenceBean.selectedCompetence.typeCompetence}">
								<f:selectItem itemLabel="Choose Skill Type" itemValue=""/>
								<f:selectItems value="#{data.type}" />
								</h:selectOneMenu>
 							<h:commandButton  value="Update" action ="#{competenceBean.updateCompetes()}"/>
                      
                            </h:panelGrid>
                        </p:dialog>
                    
                    </h:form>
    
                   

                </div><!-- .animated -->
            </div><!-- .content -->
        </div>
        <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    </h:body>
</html>

