<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
       <link rel="apple-touch-icon" href="apple-icon.png"></link>
       <link rel="shortcut icon" href="favicon.ico"></link>

         <link rel="stylesheet" href="assets/css/normalize.css"></link>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="assets/css/font-awesome.min.css"></link>
        <link rel="stylesheet" href="assets/css/themify-icons.css"></link>
        <link rel="stylesheet" href="assets/css/flag-icon.min.css"></link>
        <link rel="stylesheet" href="assets/css/cs-skin-elastic.css"></link>
         <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css"></link>
   
        <link rel="stylesheet" href="assets/scss/style.css"></link>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'></link>
        
   </ui:composition>
    </h:body>
</html>

