<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
             <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                
                <a class="navbar-brand" href="./"><img src="image/arruu.png" alt="Logo"></img></a>
                <a class="navbar-brand hidden" href="./"><img src="image/arruu.png" alt="Logo"></img></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        
                    </li>
                    <h1 class="menu-title"><center>Menu Administrateur</center></h1>
                    <!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <br></br><br></br>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Gestion Competence</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="frm_map.xhtml">Géolocalisation du projet</a></li>
                             <li><i class="fa fa-puzzle-piece"></i><a href="frm_projet.xhtml">Consulter projet</a></li>
                            
                           
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Gestion Employe </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="frm_Ajout_Utilisateur.xhtml">Ajouter Utilisateur</a></li>
                       <li><i class="fa fa-table"></i><a href="frm_gest_utilisateur.xhtml"> Gérer Utilisateur</a></li>
                        </ul>
                          
                    </li>
                    <li class="">
                        <a href="EmployeToEvaluate.jsf" > <i class="menu-icon fa fa-table"></i>Gestion Evaluation </a>
                        
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Gestion Foramtion </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="frm_Ajout_Commune.xhtml">Ajouter Commune</a></li>
                            <li><i class="fa fa-table"></i><a href="frm_gest_commune.xhtml"> Gérer Commune</a></li>
                        </ul>
                          
                    </li>
                       <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Gestion Frais </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="frm_Ajout_Commune.xhtml">Ajouter Commune</a></li>
                            <li><i class="fa fa-table"></i><a href="frm_gest_commune.xhtml"> Gérer Commune</a></li>
                        </ul>
                          
                    </li>
                       <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>TimeSheet </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="frm_Ajout_Commune.xhtml">Ajouter Commune</a></li>
                            <li><i class="fa fa-table"></i><a href="frm_gest_commune.xhtml"> Gérer Commune</a></li>
                        </ul>
                          
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Extra </a>
                        <ul class="sub-menu children dropdown-menu">
                 
                       <li><i class="menu-icon fa fa-sign-in"></i><a href="../frm_login.xhtml">Logout</a></li>
                        </ul>
                          
                    </li>

                  
                 
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
        </ui:composition>
    </h:body>
</html>

