<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Facelet Title</title>
	
</h:head>
<h:body>
	
		<!-- Header-->
		<header id="header" class="header">

		<div class="header-menu">

			<div class="col-sm-7">
				<a id="menuToggle" class="menutoggle pull-left"><i
					class="fa fa fa-tasks"></i></a>
				<div class="header-left">



					<div class="dropdown for-notification">
						<strong class="card-title">Administrateur De
							l'Application</strong>
					</div>

					<div class="dropdown for-message">

						<strong class="card-title"> </strong>
					</div>
				</div>
			</div>


		</div>

		</header>
		<!-- /header -->

		<div align="center">
			<h:form>
				<h:panelGrid border="1">
					<h:dataTable value="#{projetBean.projets}" var="projet" border="1">
						<h:column>
							<f:facet name="header">
								<h:outputText value="name" />
							</f:facet>
							<h:outputText value="#{projet.name}" />
						</h:column>

						<h:column>
							<f:facet name="header">
								<h:outputText value="description" />
							</f:facet>
							<h:outputText value="#{projet.description}" />
						</h:column>

						<h:column>
							<f:facet name="header">
								<h:outputText value="start_date" />
							</f:facet>
							<h:outputText value="#{projet.start_date}" />
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="end_date" />
							</f:facet>
							<h:outputText value="#{projet.end_date}" />
						</h:column>

						<h:column>
							<f:facet name="header">
								<h:outputText value="end_date" />
							</f:facet>
							<h:outputText value="#{projet.end_date}" />
						</h:column>

						<h:column>
							<f:facet name="header">
								<h:outputText value="budget" />
							</f:facet>
							<h:outputText value="#{projet.budget}" />
						</h:column>


						<h:column>
							<f:facet name="header">
								<h:outputText value="Action" />
							</f:facet>
							<h:commandButton action="#{projetBean.supprimerProjet(projet.id)}"
								value="supprimer" />
						</h:column>

						<h:column>
							<f:facet name="header">
								<h:outputText value="Action" />
							</f:facet>
							<h:commandButton action="#{projetBean.recupererProjet(projet)}"
								value="Modifier" />
						</h:column>

					</h:dataTable>
				</h:panelGrid>
			</h:form>
		</div>


		<div align="center">
			<h:form>

				<h:panelGrid border="1">
					<h:outputLabel value="name" />
					<h:inputText value="#{projetBean.name}" />

					<h:outputLabel value="startdate" />
					<h:inputText id="date1" required="true"
						requiredMessage="Date Début
Obligatoire"
						value="#{projetBean.start_date}">
						<f:convertDateTime pattern="dd-MM-yyyy" />
					</h:inputText>
					<h:outputLabel value="enddate" />
					<h:inputText id="date" required="true"
						requiredMessage="Date Début
Obligatoire"
						value="#{projetBean.end_date}">
						<f:convertDateTime pattern="dd-MM-yyyy" />
					</h:inputText>
					<h:outputLabel value="description" />
					<h:inputText value="#{projetBean.description}" />

					<h:outputLabel value="budget" />
					<h:inputText value="#{projetBean.budget}" />



					<h:column>
						<f:facet name="header">
							<h:outputText value="Action" />
						</f:facet>
						<h:commandButton action="#{projetBean.ajouterProjet()}"
							value="ajouter" />
					</h:column>

					<h:column>
						<f:facet name="header">
							<h:outputText value="Action" />
						</f:facet>
						<h:commandButton action="#{projetBean.updateProjet()}"
							value="modifier" />
					</h:column>

				</h:panelGrid>
			</h:form>
		</div>

		<!-- .content -->
	
	<script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/plugins.js"></script>
	<script src="assets/js/main.js"></script>
</h:body>
</html>

