<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
            <ui:include src="Link.xhtml" />
    </h:head>
    <h:body>
        <!-- Left Panel -->
    <ui:include src="Nav_Admin.xhtml" />
  <!-- /#left-panel -->

    <!-- Left Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        
                       

                        <div class="dropdown for-notification">
                           <strong class="card-title">Administrateur De l'Application</strong>
                        </div>

                        <div class="dropdown for-message">
                         
                           <strong class="card-title"> </strong>
                        </div>
                    </div>
                </div>

              
            </div>

        </header><!-- /header -->

            <div class="card">
                <div class="card-header">
                    
                </div>
                <div class="card-body">
    
      <h:form id="frmAjout">
      
       
  
                     <p:dataTable id="tbl" value="#{emplComBean.niveaux}" var="cpt" border="1"   paginatorTemplate=" {NextPageLink} {LastPageLink} {Exporters}"
                 paginator="true" rows="10" style="margin-bottom:20px"  widgetVar="carsTable"
                 emptyMessage="No cars found with given criteria" filteredValue="#{emplComBean.filteredCompetence}">
                   <f:facet name="header">
            <p:outputPanel>
                <h:outputText value="Search all fields:" />
                <p:inputText id="globalFilter" onkeyup="PF('carsTable').filter()" style="width:150px" placeholder="Enter keyword"/>
            </p:outputPanel>
        </f:facet>
   
       <f:facet name="{Exporters}">
            <div style="float:right;padding-top: 5px;">
           
                <h:commandLink>
                <img src="image/pdf.png" alt="Logo" width="24"></img>
                  
                    <p:dataExporter type="pdf" target="tbl" fileName="competence"/>
                </h:commandLink>
 
            </div>
        </f:facet>
              <f:facet name="#{emplComBean.selected.nom}" >
        Liste des Comptences #{emplComBean.selected.nom}
        </f:facet>
           
	<p:column><f:facet name="header"><h:outputText value="#{emplComBean.selected.nom} #{emplComBean.selected.prenom}" /></f:facet>
	<h:outputText value="" /></p:column>
 

	<p:column filterBy="#{cpt.competence.description}" filterMatchMode="contains"><f:facet name="header"><h:outputText value="Competence" /></f:facet>
	<h:outputText value="#{cpt.competence.description}" /></p:column>
	
	<p:column filterBy="#{cpt.competence.typeCompetence}" filterMatchMode="contains"><f:facet name="header"><h:outputText value="Categorie Competence" /></f:facet>
	<h:outputText value="#{cpt.competence.typeCompetence}" /></p:column>
	
	<p:column filterBy="#{cpt.num_niveau}" filterMatchMode="contains"><f:facet name="header"><h:outputText value="Niveau" /></f:facet>
	<h:outputText value="#{cpt.num_niveau}" /></p:column>
	
	<p:column>
<f:facet name="header"><h:outputText value="Action" /></f:facet>

<p:commandButton action="#{emplComBean.setSelectedniveau(cpt)}" value="Modifier Niveau" oncomplete="PF('bd1').show();" />

</p:column>
	
	
	
	</p:dataTable>
	
    <p:commandButton value="Affecter Autre Competence" id="actionAvis"  oncomplete="PF('bd2').show();" />
                     <p:dialog header="Affecter competence" widgetVar="bd2">
                            <h:panelGrid id="panelModifier" columns="2">
                             
                              
                                <h:outputLabel value="Niveau"/>
                                <p:inputText value="#{emplComBean.num}"/>
                                   <h:outputLabel value="Selectionner Competence"/>
                                <p:selectOneMenu id="gouvernoratM" value="#{emplComBean.id}" >
                                    <f:selectItem itemLabel="Select  Competence" itemValue="" noSelectionOption="true" />
                                    <f:selectItems var="gouv" value="#{emplComBean.competences}" itemValue="#{gouv.id}" itemLabel="#{gouv.description}"/>
                                </p:selectOneMenu>
                                <f:facet name="footer">
                                    <p:commandButton  ajax="false"  value="Affecter" actionListener="#{emplComBean.addNiv()}" />
                                </f:facet>
                            </h:panelGrid>
                        </p:dialog>
                        
                        
                          <p:dialog header="Affecter competence" widgetVar="bd1">
                            <h:panelGrid id="panel" columns="2">
                             
                              
                                <h:outputLabel value="Niveau"/>
                                <p:inputText value="#{emplComBean.selectedniveau.num_niveau}"/>
                                  
                              
                                <f:facet name="footer">
                                    <p:commandButton  ajax="false"  value="modifier niveau" actionListener="#{emplComBean.updateNiv()}" />
                                </f:facet>
                            </h:panelGrid>
                        </p:dialog>
                    </h:form>
    
 
                </div><!-- .animated -->
            </div><!-- .content -->
        </div>
        <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    </h:body>
</html>

